body {
    background-color: slategray;
}

.title {
    padding: 5px;
    padding-left: 35px;
    padding-right: 38px;
    font-size: 25px;
    background-color: #dadada;
    font-family: 'Varela Round', sans-serif;
    left: 195px;
    top: 26px;
    position: fixed;

}

.p1 {
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: red;
    font-family: 'Varela Round', sans-serif;
    top: 28px;
    left: 170px;
    position: fixed;
}

.p2 {
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: black;
    font-family: 'Varela Round', sans-serif;
    top: 48px;
    left: 170px;
    position: fixed;
}

.gameboard {
    left: 25px;
    top: 70px;
    position: fixed;
}

.piece {
    height: 48px;
    width: 48px;
    display: block;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
}


.player0 {
    background-color: palevioletred; 
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: black;	
}

.tile {
    height: 50px;
    width: 50px;
}

.displayWinner {
    left: 204px;
    top: 445px;
    position: fixed;
}

.restart {
    left: 27px;
    top: 25px;
    position: fixed;
}